@page
@model BuildHub_v5.Pages.UserProjectsModel
@{
    ViewData["Title"] = "User Projects";
}
<a class='btn btn-success mb-2' href='/AddUserProject'>Add New Project</a>
@Html.Raw(ViewData["Message"])

